*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #393939;
}
body{
    background: url("../images/BusStop.png") no-repeat fixed;
    background-size: 100%;
}
/*顶部导航栏*/
#headTitle{
    height: 50px;
    background-color: #333333;
    color: #a48552;
}
/*顶部导航栏里面的字*/
#title{
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 23px;
    cursor: default;
}
/*填写找回密码的表单的div*/
#app #forgetPasswordForm{
    width: 500px;
    height: 500px;
    background-color: rgba(255,255,255,.9);
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px -4px rgba(255,255,255,.3);
    position: relative;
}
#H1_FindPassword{
    position: absolute;
    margin-left: 50px;
    top: 20px;
    font-weight: 500;
}
#H3_GoToLogin{
    font-weight: normal;
    color: #2e58fd;
    font-size: 20px;
    position: absolute;
    margin-left: 50px;
    top: 68px;
}