<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人订单</title>
  <link rel="shortcut icon" href="images/logo.ico">
  <link rel="stylesheet" href="CSS/customerOrder.css">
  <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
  <script src="JS/axios-0.18.0.js"></script>
  <script src="JS/vue.js"></script>
  <script src="element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
<!--    顶部导航栏-->
    <div id="UserTitle">
        <div class="welcome">
            个人订单
        </div>
        <div class="username">
            {{username}}
        </div>
    </div>
<!--    订单展示页面-->
    <div id="orderDisplay">
        <template>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        type="index"
                        width="50"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="goodsName"
                        label="商品名称"
                        width="180"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="orderNumber"
                        label="订单号"
                        width="150"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="number"
                        label="购买数量"
                        width="80"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="payTime"
                        label="付款时间"
                        width="180"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="status"
                        label="当前状态"
                        width="80"
                        align="center">
                    <template slot-scope="scope">
                        <el-tag type="danger" effect="dark" v-if="scope.row.status==1">未发货</el-tag>
                        <el-tag type="warning" effect="dark" v-if="scope.row.status==2">路途中</el-tag>
                        <el-tag type="primary" effect="dark" v-if="scope.row.status==3">已送达</el-tag>
                        <el-tag type="success" effect="dark" v-if="scope.row.status==4">已收货</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="收货人姓名"
                        width="100"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="phone"
                        label="电话"
                        width="150"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="收货地址"
                        align="center"
                        width="230">
                </el-table-column>
                <el-table-column
                        label="操作"
                        align="center">
                    <template slot-scope="scope">
                    <el-row>
                        <el-button type="success" plain disabled v-if="scope.row.status==4">已收货</el-button>
                        <el-button type="primary" plain v-if="scope.row.status==3">确认收货</el-button>
                        <el-button type="warning" plain disabled v-if="scope.row.status==2">确认收货</el-button>
                        <el-button type="danger" plain disabled v-if="scope.row.status==1">确认收货</el-button>
                    </el-row>
                    </template>
                </el-table-column>
            </el-table>
        </template>
    </div>
</div>
<script src="JS/customerOrder.js"></script>
</body>
</html>